<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tanvir.crimelogger_ewu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".HelperClass.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActioBar">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.UserRegistration"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActioBar" />
        <activity
            android:name=".Activity.UserLogin"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActioBar" />
        <activity
            android:name=".Activity.UserProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UserCreatePost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PostViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PoliceNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UserPostEdit"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/AppThemeNoActioBar"
            android:name=".Activity.ShowStatistics"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PushNotification"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>